doctype html
html
  head
    title= title
    link(href='/stylesheets/test-manager.css', rel='stylesheet')

    link(href='/stylesheets/starter-template.css', rel='stylesheet')
    link(href='/stylesheets/sb-admin-2.min.css', rel='stylesheet')
    script(src='/javascripts/sb-admin-2.min.js')

  body
    block content
